
<br>
<div class="logo">
	<img src="https://www.10ksbapply.com/sites/all/themes/tenk/logo.png" alt="" id="logo">
</div>

<div class="header">
	<br>
	<h1>Nominate a Business for the <br>Goldman Sachs <i>10,000 Small Businesses</i> Program!</h1>
</div>

<br>
<br>
<br>

<div class="nominate">
	<%= render 'form' %>
	<br>
	<div style="color: red">
		<%= '* = Required Field' %>
	</div>
</div>
<br>
<%= link_to 'Back', nominates_path  %>
