.logo {
  margin-top: 10px;
}

.errorbox {
	color: red;
	font-style:bold;
  text-align: center;
}

.header {
  height: 50px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: auto;
  max-width: 300px;
  min-width: 750px;
  position: relative;
  line-height: 1;
  top: 0px;
  text-align: center;
}

.headertext {
  color: white;
}
.content {
    background: url(https://photos-1.dropbox.com/t/2/AABWHqbPvvyz7U7lJaECwsM3xtAsTTi7RQl8ptPiru9RSA/12/6383018/jpeg/32x32/1/_/1/2/Angelica.NOLA.jpg/EOmv4QQYt7IBIAIoAg/gCi7vJpDy_z4XLrkF39xT4YETHpB9WQN7mMn92voI0s?size=1024x768&size_mode=2) no-repeat center center fixed; 
    background-size: cover;
    background-size: cover;
    background-size: cover;
    background-size: cover;
    min-height:1000px;
    display: block;
    margin-left: 240px; /*width of nav bar*/
}

.nominate {
	  background-color: #607288;
    width: 700px;
    height: 700px;
    margin-left: 60px;
    padding: 10px;
    font-family:Arial;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.nominateform {
  position: relative;
  margin-top: -680px;
  margin-left: 100px;
}

*{
    margin:0;padding:0;
}
.navbar {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 240px;
}

.navlink:hover {
     background:#7398C5;
     padding-bottom:13px;
     padding-top:17px;
     padding-left:10px;
     padding-right:10px;
}

  .navlink {
  display: block;
  background:#607288;
  padding-bottom:13px;
  padding-top:17px;
  padding-left:10px;
  padding-right:10px; 
  font: Arial;
  color: white;
  text-decoration: none;
  opacity: 0.7;
    filter: alpha(opacity=70);
}

.login {
  background-color: #7398C5;
}

.logincontent {
  position: relative;
  margin-top: 50px;
  margin-left: 100px;
  padding: 100px;
  color: white;
}

/*


 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
