// Place all the styles related to the Nominates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 50px;
  width: 1000px;
  position: relative;
  line-height: 1;
  top: 0px;
  text-align: center;
}

.logo {
height:100px;
  width: 1000px;
  background-color: #abcaec;
  top: 10px;
}