<div style="font-style:Arial">
<p>Dear #{nominate.referralname},</p>
 
 <p>Congratulations! I am writing on behalf of the <b>Goldman Sachs <i>10,000 Small Businesses</i> program</b> to let you know that you have been nominated by #{nominate.firstname} #{nominate.yourlastname}, a program graduate, to apply for this opportunity!</p> 
 
 <p>The <a href="www.10ksbapply.com">Goldman Sachs <i>10,000 Small Businesses</i> program</a> is a world class entrepreneurship education program that provides small business owners with the opportunity to step away from day-to-day operations and focus on growth. In professional workshops over 12 weeks, business owners will:
       <ul>
        <li> Learn from some of the brightest minds in business</li>
        <li> Explore opportunities to access financial capital</li>
        <li> Build a powerful network of professional support</li>
       </ul>
 <p><u>There is no cost to apply, and all business owners receive a full scholarship to participate if accepted!</u>><p> 
 <p><b>APPLY TODAY!</b> Submit a brief online application at <a href="www.10ksbapply.com">www.10ksbapply.com</a></p> 

<p>The program is offered locally in <a href="https://www.10ksbapply.com/regional-small-businesses-opportunities">12 cities</a> across the U.S., but is available to business owners in all 50 states and U.S. Territories through a blended learning National Cohort. The <i>10,000 Small Businesses</i> National Cohort is a unique model of the program delivered through a combination of online learning and on campus sessions at Babson College, the nation's leading business school ranked #1 in Entrepreneurship Education by US News and World Report.</p>

<p>Applications are currently being accepted on a rolling basis for all program locations. The application deadline to be considered for our upcoming Spring 2016 National Cohort is October 2nd, 2015! If you have any questions about the program or the application process, please do not hesitate to let us know!</p>>
<br>
Best,
<br>
Alexandra
</div>
